<h1> <%= "#{@event.title}" %> </h1>

<div>
    <div>
        <%= "Host: "%>
        <%# Display host name and link to user[:id]#show %>
        <%= link_to "#{@user.username}", user_path(@user.id) %>
    </div><br>
    <div>What: <%= @event.body %></div>
    <div>When: <%= @event.date %></div>
    <div>Where: <%= @event.location %></div>
</div>

<h2> <%= "People attending: #{@event.attendees.length}"%>
<ul>
    <% @event.attendees.each do |p|%>
        <li> <%= p.username %> </li>
    <% end %>
</ul>


<% if current_user == @user %>
    <div><%= link_to "Edit Event", edit_event_path%></div>
<% else %>
    <div><%= link_to "Join!", event_attendances_path(@event.id), data: {turbo_method: :post} %></div>
<% end %>